{% extends "AppBundle::layout.html.twig" %}
{% block slidbar %}
    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
        <li>
            <a href="{{ path('app_post_list') }}"><i class="icon-chevron-right"></i>List Articles</a>
            {% if is_granted('ROLE_ADMIN') %}
              <a href="{{ path('app_category_list') }}"><i class="icon-chevron-right"></i>List Category</a>
            {% endif %}
        </li>
    </ul>
{% endblock %}
{% block content %}

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/assets/DT_bootstrap.css') }}">

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/vendors/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/vendors/jquery-1.9.1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/vendors/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/assets/scripts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/assets/DT_bootstrap.js') }}"></script>
{% endblock %}
