{% extends "AppBundle::layout.html.twig" %}
{% block content %}
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Articles</div>
                <div class="pull-right">
                    <a  href="{{ path('app_post_create') }}" class="badge badge-warning">Create New Article</a>
                </div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>title</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for post in posts %}
                            <tr>
                                <td>{{ post.id }}</td>
                                <td>{{ post.title }}</td>
                                <td>
                                    <a href="{{ path('app_post_edit', { 'id': post.id }) }}">
                                        <span class="btn btn-primary">Edit</span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/assets/DT_bootstrap.css') }}">

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/vendors/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/vendors/jquery-1.9.1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/vendors/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/assets/scripts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/assets/DT_bootstrap.js') }}"></script>
{% endblock %}